
      /*fontes*/
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

       #titulo_principal {
        background-color: #8b6f1e;
        color: white;}


        .titulo_segundario {background-color: #2a522a;
        color: white;}
            

        .rodape{
                text-align: center;
        }

        body{   /*Tipografia CSS*/
                background-color: rgb(0,0,0);   /*Cor de fundo*/
                color: rgb(255,255,255);        /* Cor da fonte*/
                font-family: "roboto", sans-serif;      /* Fonte do texto*/
                font-size: 16px ;       /* Tamanho da fonte - px/em/rem*/
                

        }

        #layout{
                font-size: 1em;            /* herda do pai ( o body) e mutiplica os pixels se nescessarío*/
                display: flex;             /* Usado para */
                /*flex-direction: column;    /* Usado para definir a direção dos elementos que são filhos de um display flex*/
                font-style: italic;        /* Estilo da fonte: italic, oblique, normal*/
                line-height: 25px;         /* Espaçamento de linhas*/
                font-weight: 500;          /* Negrito CSS 100 a 900 - bold=400 - bolder=900*/
                text-transform: none;      /*Capitalização do texto: uppercase - lowercase - capitaliza - none=sem efeito*/                        
                text-decoration: none;     /*Cria um sumblinhado de texto que tem varias "formas": double - dotted - dashed - wavy - none*/
                word-spacing: 2px;         /* Espaçamento entre palavras*/
                letter-spacing: 1px;       /* Espaçamento entre letras*/
                text-indent: 20px;         /* Cria um espaço antes de começar o paragráfo*/
                text-align: justify;       /* Alinhamento do texto left - rigth - justify - center*/

        
                /* Porcesso passo a passo que seria para fazer a borda(estilo,espessura e cor)-
                border-style: dashed;         /* Estilo da borda: solid - dashed - dotted - double - groove - ridge - inset - ouset 
                border-width: 5px;              /* Espessura da borda
                border-color: rgb(52,235,164);  /* Cor da borda*/

                border: solid 5px #458545; /* Definir estilo, espessura e cor da borda numa mesma linha*/
                
                border-top: solid 5px #458545;
                border-left: solid 5px #458545;
                border-bottom: solid 5px #458545;
                /* border-right: estilizar o lado direito da borda*/
                border-radius: 50px; /* Arrendodar cantos das bordas -px - %*/

                margin: 20px 20px 20px 20px; /* Margem do lado de fora da borda*/
                margin-left: 20px;      /*Margem a esquerda*/
                margin-right: 20px;     /*Margem a direita*/
                margin-bottom: 20px;    /*Margem a baixo */
                margin-top: auto;       /*Margem a cima*/

                padding: 20px 60px;     /*Margem dentro da borda*/
                /*todos os lados representados linha por linha*/
                padding-left: 20px;
                padding-right: 20px;      
                padding-top: 20px;  
                padding-bottom: 20px;

        }
               

        NAV a {
                text-decoration: none; /* Aqui tiramos os sumblinhados da parte onde navega entre as paginas*/
                 font-weight: 500;
             

        }

        /*.teste_display{
                background-color: #094409; /* Deixa o texto marcado da cor escolhida
                display: inline-block; 
        }*/


        /*Aula sobre estilização de lista*/

        #teste_estilo_lista_ul{
                list-style-type: none ; /*disc, circle, none : define o estilo de marcador da lista não ordenada (UL)*/

        }

         #teste_estilo_lista_ol{
                list-style-type: lower-roman; /*(decimal, lower-roman, upper-roman, lower-greek=numeros),(lower-alpha, upper-alpha=letras), definem o estilo de marcadores de listas ordenadas.*/
                list-style-image: url('img/seta_direita_vermelha.png');
                
        }

        li{
                border:solid 3px #458545;
                list-style-position: outside; /* Ele serve para dizer ao navegador se o marcador da lista faz parte ou não do texto da lista: inside ou outside*/

        }

        #impacto{
                /*background-image: url(img/senhordosaneis_fundo.jpg) no-repeat; resume a imagem de fundo e repetição de uma linha*/
                background-image: url(img/senhordosaneis_fundo.jpg); /* Carrega imagem ao fundo do elemento html*/
                background-repeat: no-repeat ; /* configura a forma da imagem ira repetir ao fundo do elemetp html= no-repeat, repeat, repeat-y/x*/

                /*background-position: center; Posição da imagem, pode duas posição ao mesmo tempo desde que façam sentido, esquerda topo -left, top
                width: 2000px
                height: 1500*/

                background-size: cover; /* Serve para definir como a imagem será exibida ao fundo do elemento html= contain, cover, px, %, auto*/
                background-attachment: fixed; /*  Define como a imagem vai lidar com o scroll ao fundo do elemento HTML= scroll e fixed*/
                text-shadow: 2px 1px 1px #458545; /*Define a sombra do texto*/
        }

        .noticia{ /* Atributo principal*/
                border: solid #458545;
                width: 200px;
                position: fixed; /* Define o posicionamento atrás ou na frente dos elementos do HTML= fixed, relative, absolute e static*/
                height: 100px;
                overflow: visible; /* Trata o comportamento de quanto por exemplo um texto passa das bordas de um elemento HTML (da um overflow)*/
                box-shadow: 3px 3px 3px 3px black; /* Define a sombra de um elemento html de*/
        }

        .um{ /* Atributos segundarios*/
                background-color: rgb(3, 3, 175);
                top: 0px;
                left: 50px;
                z-index: 3; /* Define a ordem de como o elemento vai ficar uns atras dos outros*/
        }
        .dois{ /* Atributos segundarios*/
                background-color: rgb(4, 71, 255);
                top:100px;
                left: 150px;
        }
        
        .tres{ /* Atributos segundarios*/
                background-color: rgb(0, 132, 255);
                top: 200px;
                left: 250px;
        }
        